In [51]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [52]:
Url = ''
final_dataset = pd.read_csv(Url, encoding='latin-1')
final_dataset

,city_development_index,relevent_experience,education_level,experience,last_new_job,target,training Impact
0,0.920,1,2.0,0.0,1.0,1,33.120
1,0.776,0,2.0,0.0,5.0,0,36.472
2,0.624,0,2.0,0.0,0.0,0,51.792
3,0.789,0,2.0,0.0,0.0,1,41.028
4,0.767,1,2.0,0.0,4.0,0,6.136
...,...,...,...,...,...,...,...
19153,0.878,0,2.0,0.0,1.0,1,36.876
19154,0.920,1,2.0,0.0,4.0,1,47.840
19155,0.920,1,2.0,0.0,4.0,0,40.480
19156,0.802,1,2.0,0.0,2.0,0,77.794
19157,0.855,0,2.0,0.0,1.0,0,108.585